<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Magic Store</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
<!-- bootstrap -->

<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap-responsive.min.css}">
<link rel="stylesheet" th:href="@{/themes/css/bootstrappage.css}">

<!-- global styles -->
<link rel="stylesheet" th:href="@{/themes/css/flexslider.css}">
<link rel="stylesheet" th:href="@{/themes/css/main.css}">

<!-- scripts -->
<script th:src="@{/themes/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/themes/js/superfish.js}"></script>
<script th:src="@{/themes/js/jquery.scrolltotop.js}"></script>
<script th:src="@{/js/magicStore.js}"></script>
<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div id="wrapper" class="container">
		<section>
			<h4 class="title">
				<span class="text"><strong>Editar</strong> Produto</span>
			</h4>
		</section>
		<section class="main-content" th:if="${session.usuarioLogado}">
			<div class="row">

				<div class="span3 col">
					<div class="block">
						<ul class="nav nav-list">
							<li class="nav-header">Menu</li>
							<li><a th:href="@{/categoria/all/noproduct}"><label>Categorias</label></a></li>
							<li><a><label>Produtos</label></a>
								<ul th:each="categoria : ${categorias}">
									<li><a
										th:href="@{/produto/lista/administracao/{categoria}(categoria = ${categoria.id})}">
											<label th:text=${categoria.nome}></label>
									</a></li>
								</ul></li>
						</ul>
						<br />
					</div>
				</div>

				<div class="span9 col">
					<div th:if="${msg} and ${msg} == 'CADASTRO_SUCESSO'"
						class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						Cadastro realizado com sucesso!
					</div>
					<div th:if="${msg} and ${msg} == 'CADASTRO_ERRO'"
						class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>Ocorreu erro ao cadastrar!</h4>
					</div>
					<form th:action="@{/produto/administracao/}" th:method="put"
						id="formAtualiza" th:object="${produto}"></form>
					<input type="hidden" form="formAtualiza"
						th:value="${produtoEdit.id}" name="id">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Ação:</th>
								<th scope="col">Nome:</th>
								<th scope="col">Descricao</th>
								<th scope="col">Quantidade</th>
								<th scope="col">Valor</th>
								<!-- <th scope="col">Imagem</th> -->
							</tr>
						</thead>
						<tbody>
							<tr>

								<td><input type="submit" form="formAtualiza"
									value="Atualizar"></td>
								<td><input type="text" form="formAtualiza" name="nome"
									th:value="${produtoEdit.nome}" class="ajusteInput"
									required="required"></td>
								<td><input type="text" form="formAtualiza" name="descricao"
									th:value="${produtoEdit.descricao}" class="ajusteInput"
									required="required"></td>
								<td><input type="number" form="formAtualiza"
									name="quantidade" th:value="${produtoEdit.quantidade}"
									class="ajusteInput" required="required"></td>
								<td><input type="number" step="0.01" form="formAtualiza"
									name="valor" th:value="${produtoEdit.valor}"
									class="ajusteInput" required="required"></td>
							</tr>
						<tbody>
					</table>
					<input type="hidden" form="atualizaImagem" name="idProduto"
						th:value="${produtoEdit.id}" class="ajusteInput"> <input
						type="hidden" form="atualizaImagem" name="idCategoria"
						th:value="${produtoEdit.categoria.id}">
					<form id="atualizaImagem" method="post"
						th:action="@{/produto/administracao/upload}"
						enctype="multipart/form-data">
						<img alt="" th:src="@{/themes/images/} + ${produtoEdit.imagem}"
							class="ajusteInput"> <input type="text"
							th:value="${produtoEdit.imagem}"> <input type="file"
							form="atualizaImagem" name="imagem"
							th:value="${produtoEdit.imagem}" class="ajusteInput"
							required="required"> <input type="submit"
							value="Salvar imagem">
					</form>
				</div>
			</div>
		</section>
		<div th:unless="${session.usuarioLogado}">
			<h1>Por gentileza realize o Login</h1>
		</div>
		<div th:replace="fragmentos/fragmentos :: rodape"></div>
	</div>
</body>
</html>