<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Magic Store</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
<!-- bootstrap -->

<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap-responsive.min.css}">
<link rel="stylesheet" th:href="@{/themes/css/bootstrappage.css}">

<!-- global styles -->
<link rel="stylesheet" th:href="@{/themes/css/flexslider.css}">
<link rel="stylesheet" th:href="@{/themes/css/main.css}">

<!-- scripts -->
<script th:src="@{/themes/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/themes/js/superfish.js}"></script>
<script th:src="@{/themes/js/jquery.scrolltotop.js}"></script>
<script th:src="@{/js/magicStore.js}"></script>
<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div id="wrapper" class="container">
		<section class="header_text sub">
			<h4>
				<span>Carrinho de compras </span>
			</h4>
		</section>
		<section class="main-content">
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="text"><strong>Seu</strong> Carrinho</span>
					</h4>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Remove</th>
								<th scope="col">Image</th>
								<th scope="col">Produto</th>
								<th scope="col">Quantidade</th>
								<th scope="col">Preço unitário</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="carrinho : ${carrinhoSessao}">
								<td th:if="${session.usuarioLogado}">
									<form
										th:action="@{/carrinho/item/delete(idItemCarrinho = ${carrinho.id}, idSessao = ${session.sessionID}, logado = true, idUsuario = ${session.usuarioLogado.id})}"
										th:method="delete">
										<input type="submit" class="btn btn-outline-danger"
											value="Remover" />
									</form>
								</td>
								<td th:unless="${session.usuarioLogado}">
									<form
										th:action="@{/carrinho/item/delete(idItemCarrinho = ${carrinho.id}, idSessao = ${session.sessionID}, logado = false, idUsuario = 0)}"
										th:method="delete">
										<input type="submit" class="btn btn-outline-danger"
											value="Remover" />
									</form>
								</td>
								<td><img alt=""
									th:src="@{/themes/images/} + ${carrinho.produto.imagem}" style="width: 200px"></td>
								<td th:text="${carrinho.produto.nome}"></td>
								<td><input type="text" th:value="${carrinho.quantidade}"
									class="input-mini"></td>
								<td th:text="'R$ ' + ${carrinho.produto.valor}"></td>
							</tr>
						</tbody>
					</table>
					<hr>
					<hr />
					<div th:if="${session.usuarioLogado}">
						<p class="cart-total right">
							<strong>Total</strong><br> <strong
								th:text="'R$ ' + ${valorCarrinho}"></strong><br>
						</p>
						<p class="buttons center">
							<a
								th:href="@{/carrinho/checkout/{idUsuario}(idUsuario = ${session.usuarioLogado.id})}"><button
									type="button" class="btn btn-success btn-primary btn-lg">Finalizar
									compra!</button></a>
						</p>
					</div>
					<div th:unless="${session.usuarioLogado}">
					<h4>É necessário estar logado para finalizar o pedido!</h4>
						<a th:href="@{/login}"><button type="button"
								class="btn btn-success btn-primary btn-lg">Login</button></a>
					</div>
				</div>
				<div class="span3 col"></div>
			</div>
		</section>
		<div th:replace="fragmentos/fragmentos :: rodape"></div>
	</div>
</body>
</html>